.DS_Store

# Xcode user state
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Build products
DerivedData/
build/

# SwiftPM
.build/
Package.resolved

# Fastlane screenshots and reports
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
